/*gllobals*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
h2{
  border-left:5px  solid black;
  font-size: 24px;
  padding-left: 5px;
  margin-left:20px;
}
/*HEADER*/

h1{
  font-family: "arial black";
  font-size: 36px;
  display: inline;
  display: inline-block;
}

header {
  background-color:black;
  color:white;
  padding: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.tabla{
  position: absolute;
  display: inline;
  right: 5%;
  margin: auto;
}
.cabeza .tabla li{
  display: inline-block ;
  padding: 13px;
}

/*SOBRE MI*/
.sobre{
  padding: 3%;
}

.tablero{
  margin-top: 3%;
  right:5%;
  display: inline-flex;
}
.logo{
  width: 1000px;
  padding-right: 15px;
}
.logo .foto {
width: 250px ;
height: 250px;
border-radius: 100%;
display: inline-block;
}
.parrafo{
  padding-left: 15px;
}
.parrafo ul li{
  display: inline-block;
  padding: 13px;
}
.parrafo ul{
  margin: 1%;
}

/*PORTAFOLIO*/
.portafolio{
  padding: 3%;
}
.portafolio .imagen{
  width: 80%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}
.imagen{
  margin-left:10%;
}
.imagen figure img {
  width: 374px;
  height: 240px;
  padding: 7%;
}
/*MIS HABILIDADES*/
.habilidades{
  padding: 1%;
  background-color: cadetblue;
}
.progres{
  margin: auto;
  margin-left: 7%;
  margin-top: 3%;
}
.img{
  padding: 1%;
}
.progres div {
  width: 45%;
  display: inline-flex;
}
.progres div h3{
  width: 100px;
}
.img .porcentaje{
  background-color: #f0f0f0;
  border:1px solid black;
  width: 100%;
  border-radius: 11px;
  position: relative;
}

/*CONTACTANOS*/
